*.swo
*.swp
graphia-cms
logs/*.log
keys/*
db/*
dist/*
frontend/node_modules
frontend/public/**/*
repo
hugo
tags
tests/tmp/**/*
tests/frontend/.byebug_history
backend/.virtualgo
backend/debug
backend/debug.test
